
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Trang Chủ</h1>
    </div>
</div>
<h2>Phát Hành Sách</h2>

